{% extends "proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Om projektet</h1>
        <p>Mitt projekt är ett äventyrsspel, tänkt som ett skräckspel med inslag av humor.
        Rummen representeras av bild och en beskrivande text som hintar om vad som kan interageras med i rummet.
        För att styra skriver man in olika kommandon, så som "gå norr", "ta flaska", "lyft föremål".
        I projeket har jag använt mig av klasser, controllers och databas mha ORM. Spelets funktionalitet
        förlitar sig mycket på databasen och om till exempel ett föremål är "usable" eller om det går att lyfta
        eller ta. Vilket håll man kan gå från de olika rummen regleras också i databasen.</p>
        <a href="{{ path('proj_database') }}">Databas</a>
    </div>
{% endblock %}