{% extends "proj_base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <h1>Fusklapp</h1>
        <p>För snabbaste vägen genom spelet:<br>
        Rum 1:<br>
        ta bultsax<br>
        gå norr<br>
        <br>
        Rum 2:<br>
        lyft trädgårdstomte<br>
        ta nyckel<br>
        gå öst<br>
        <br>
        Rum 3:<br>
        öppna kista
        </p>
    </div>
{% endblock %}