{% extends "base.html.twig" %}

{% block title %}Card deck{% endblock %}

{% block body %}
    <h1>Card deck</h1>
    <div>
        {% for card in deck %}
            <span class="cards {{card | raw}}">{{ card }}</span>
        {% endfor %}
    </div>
{% endblock %}
