{% extends "base.html.twig" %}

{% block title %}Draw card{% endblock %}

{% block body %}
    <h1>Draw card</h1>
    <div>
        {# {% for card in deck %} #}
            <span class="cards">{{ draw }}</span>
        {# {% endfor %} #}
        <p>Cards left in deck: {{ count }}</p>
    </div>
{% endblock %}
