{% extends "base.html.twig" %}

{% block title %}Draw card{% endblock %}

{% block body %}
    <h1>Draw card</h1>
    <div class="carddeck">
        {% for card in cardsDrawn %}
            <span class="cards {{ card }}">{{ card }}</span>
        {% endfor %}
        <p>Cards left in deck: {{ count }}</p>
    </div>
{% endblock %}
