{% extends "base.html.twig" %}

{% block title %}Kortspel landningssida{% endblock %}

{% block body %}
    <h1 class="text-center gameh1"><span class="text-danger">&hearts;</span> 
    &clubs; Kortspelet 21 &spades; <span class="text-danger">&diams;</span></h1>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-8 p-2 mt-2 text-center">
            <p>
                I kortspelet 21 spelar en spelare mot banken. Målet är att få ihop kort som är värda 21.
                Överskrider värdet 21 förlorar man, underskrider värdet vinner den som är närmast 21.
                Ess är värt 1 eller 14 beroende på vad som är mest fördelaktigt för spelaren. Knekt 11, dam 12, kung 13.
                Resten av korten är värda sitt respektive nummer.
            </p>
            <p>
                Spelaren börjar att ta kort tills denne är nöjd. Över 21 så vinner banken. 21 så vinner spelaren. När spelaren känner sig klar 
                är det bankens tur. Banken plockar kort tills den stannar eller har över 21.
                Blir det lika vinner banken, har banken över 21 eller mindre än spelaren vinner spelaren.
            </p>
            <p>
                Spelet består av rundor som fortsätter tills kortleken är slut eller tills spelaren eller banken har 0 pengar kvar.
                Banken kan vara "dum" eller "smart", valet görs nedan.
            </p>
                <form method="post" action="{{ path('game_init') }}" class="text-center mt-5 form-group">
                    <label for="bank"><b>Väl bank att spela mot:</b></label>
                    <select id="bank" name="bank" class="form-control">
                        <option value="dumb">Dum bank</option>
                        <option value="smart">Smart bank</option>
                    </select>
                    <label for="bet"><b>Väl hur mycket du vill satsa varje runda:</b></label>
                    <input type="number" name="bet" min="0" max="100" value="10" class="form-control">
                    <input type="submit" name="do_it" value="Starta spelet" class="btn btn-success btn-block mt-2">
                </form>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ path('game_doc') }}">Doc</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}