body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 2em auto;
    max-width: 1000px;
}

h1 {
    border-bottom: 2px solid #ccc;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about img {
    width: 100%;
    margin: 1em 0;
}

.ab-1 {
    width: 70%;
}

.ab-2 {
    width: 20%;
}

.lucky-img {
    margin-bottom: -2em;
}

.lucky-nr {
    font-size: 3rem;
}

.lucky-h1 {
    background-image: linear-gradient(45deg, #faf6ac, #005001);
    background-size: 100%;
    padding: 0.4em;
    border: 4px dotted yellow;
}

.cards {
    font-size: 5em;
}

.drawn {
    font-size: 8em;
}

.🂱, 
.🂲,
.🂳,
.🂴,
.🂵,
.🂶,
.🂷,
.🂸,
.🂹,
.🂺,
.🂻,
.🂽,
.🂾,
.🃁,
.🃂,
.🃃,
.🃄,
.🃅,
.🃆,
.🃇,
.🃈,
.🃉,
.🃊,
.🃋,
.🃍,
.🃎 {
    color: red;
}

.flash-won {
    padding: 0.5em;
    color: #358500;
    background-color: #ccffd3;
    border-color: #b8ffc9;
}

.flash-lost {
    padding: 0.5em;
    color: #850404;
    background-color: #ffcdcd;
    border-color: #ffbaba;
}
