{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om kursen MVC</h1>
    <div class="container">
        <div class="row">
        <div class="col-8">
        <img src="{{ asset('img/mvc.png') }}" class="img-fluid my-3" alt="mvc">
            <p>Kursen Objektorienterade webbteknologier (MVC) fokuserar på objektorienterade 
            programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade 
            konstruktioner hanteras tillsammans med objektorienterad programmering i ett webbaserat 
            ramverk. Kursen hanterar även databaser samt enhetstestning.</p>
        </div>
        <div class="col-4">
            <h2>Github</h2>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="https://github.com/dbwebb-se/mvc/">Kursens github</a></li>
            <li class="list-group-item"><a href="https://github.com/melissajoh/report-mvc">Min github</a></li>
            </ul>
        </div>
        </div>
    </div>
{% endblock %}
