{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Hem</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
            <img src="{{ asset('img/me.jpg') }}" alt="me" width="300">
            </div>
            <div class="col-6">
            <p>Hej</p>

            <p>Jag heter Melissa och är 27 år. Mina intressen är bland annat måleri, tecknande, TV-spel, 
            att umgås med familj och sambo, och att vara ute i naturen. På bilden är jag och mina föräldrars peki-mops Hedvig.</p>

            <p>Går nu distanslinjen i Webbprogrammering och har innan studerat på distans i fem år. Tre år digital design och 
            två år förberedande konstlinje. Valde sedan att gå vidare med denna programmeringsutbildning då jag under mina 
            år på digital design-linjen kände att jag tyckte mest om programmeringsdelarna och även då jag ser en möjlighet 
            att fortsätta med mitt konstskapande parallellt med programmering.</p>
            </div>
        </div>
    </div>
{% endblock %}
