{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
<h1>Metrics analys</h1>
<h2 id="intro">Introduktion</h2>
<pre>
De sex C:na om kodkvalitet är Codestyle, Coverage, Complexity, Cohesion,
Coupling och CRAP.

Codestyle är om koden följer en vissa kodstil. I mitt fall fixas denna
med hjälp av "composer csfix" som följer Symfonys valda kodstil och är
därför godkänd. Att följa en kodstil genom hela koden gör den enklare
att läsa och förstå.

Coverage dvs kodtäckning är hur vältestat ett projekt är. Min kod-
täckning började på 29% vilket beror på att controllers inte är testade.
Så vad värdet egentligen säger är att endast 29% av all kod mitt projekt
innehåller är testad. Koden kan alltså egentligen fortfarande vara bra,
men den har inga tester kopplade till sig vilket kan försvåra om man till
exempel vill lägga till funktionalitet och inte snabbt kan se om något i
koden gått sönder.

Complexity är hur komplex koden är, dvs om den innehåller många if-satser,
loopar och alltså kan ta flera vägar. Är koden för komplex blir den svår
att sätta sig in i.

Cohesion är till vilken grad element i en modul hör samman. Hög Cohesion
är att föredra då detta gör koden mer robust och pålitlig. Jag hittade
inte detta värde i någon av mina rapporter.

Coupling är beroendet mellan moduler. Här vill man istället ha låg 
coupling då detta tyder på struktur och bra design. Detta kan delas in
i Afferent coupling som är antalet klasser som påverkas av en klass, och
Efferent coupling vilket är antalet klasser som påverkar en klass. Mitt
högsta AC är 5 i min Card-klass, vilket alltså innebär att 5 andra klasser
påverkas av Card-klassen. Min högsta EC är på 7 i två av mina controllers,
vilket alltså innebär att dessa påverkas av 7 andra klasser.

CRAP (Change Risk Anti Pattern) handlar om storlek på metod, komplexitet
och hur vältestad den är. Min metod som har höst CRAP-score är play() i
min GameController, vilken har 90. Den har komplexitet 9 och är för tillfället
otestad. Den är också lite stor för att vara en controller-metod, 48 kodrader.
Man vill alltså ha låg CRAP-score, vilket skulle visa på att metoden har bra
storlek, komplexitet och är testad.
</pre>

<h2 id="phpmetrics">Phpmetrics</h2>
<pre>
Via översikten för PhpMetrics dokumentation ser man direkt att det finns 4
violations. Ingen av dem är kritiska eller errors, utan klassas som varningar --
men existerar. Via den bild av färgade cirklar som genereras i översikten
kan man också se att klassen GameBoard och GameController har högre cyklomatisk
komplexitet och är svårare att underhålla än andra delar. GameController har
även högst "relative system complexity", vilket nog beror på att det är en
controller som behandlar hela kortspelet, men möjligen går den att sänka något.

Som tidigare nämnt är till exempel efferent couplingen relativt hög hos vissa
controllers, om man tänker att man vill ha så låg siffra som möjligt. Men samtidigt
då det är controllers som har lite högre siffra kanske det ändå är rimligt.

<a href="{{ asset('img/phpmetrics.png') }}"><img src="{{ asset('img/phpmetrics.png') }}" alt="phpmetrics overview" width=600></a>
</pre>

<h2 id="scrutinizer">Scrutinizer</h2>
<pre>
Det första jag noterar i denna rapport är att kodtäckningen är låg. Här
är det framförallt för att controllerna inte testas som den är så pass
låg. Jag hade några tester för dessa som jag inte fick med i första
bygget pga error.

Sedan finns det 6 issues att fixa, varav 2 klassas som "major". Går man
vidare till kod-fliken och "Hot Spots" har jag tre operationer som har betyg
B, vilket är det sämsta jag fick i min rapport. Av dessa är den med mest
problem play()-metoden i GameController, som har orange komplexitet med 9
conditions och en CRAP-score av 90.
</pre>
<a href="{{ asset('img/scrutinizer.png') }}"><img src="{{ asset('img/scrutinizer.png') }}" alt="scrutinizer overview" width=600></a>

<h2 id="forbattringar">Förbättringar</h2>
<h3>Innan implementation</h3>
<pre>
Den första förbättringen jag tänker göra är att försöka fixa Violations och
Issues. Detta innebär att jag måste sätta mig in i vad som anses vara fel och
sedan se om jag kan lösa det. Detta vill jag göra då detta är utpekade fel i
koden som känns en bra början att ta tag i. Jag tror att fixa dessa kommer
öka kodkvalitets-poängen i scrutinizer något.

Det andra problemet jag vill ta tag i är att försöka öka kodtäckningen. Jag
tänker nog göra detta genom att skapa några tester för Book och Product som
skapades under förra kursmomentet för att få upp procenten något. Möjligen
ta bort Product helt och hållet då det inte tillhör någon uppgift. Även försöka
lägga till mina tester för controllers igen, om jag lyckas lösa hur jag får in
dem så att de inte förstör bygget av scrutinizer-rapporten.

Den tredje förbättringen är play()-metoden och att försöka sänka CRAP-score och
komplexitet, samt göra ett försök att öka betyget till A. Möjligen även försöka
öka de två andra metoder som hade betyget B till A. Även detta tänker jag kommer
att öka kodkvalitets-poängen i scrutinizer. Jag tänker även att dessa förbättringar,
tillsammans med ökad kodtäckning om det sker för GameController kan sänka den
cyklomatiska komplexiteten och öka möjligheten att underhålla koden. Detta skulle
alltså göra att någon eller några av de röda cirklarna från PhpMetrics-rapporten
skulle minska och förhoppningsvis byta färg.
</pre>
<h3>Efter implementation</h3>
<pre>
Jag försökte fixa Issues och Violations. Jag lyckades lösa alla Issues i Scrutinizer
förutom 1 som hade med Kernel att göra. Detta påverkade dock inte poängen som jag
trodde. Violations i phpmetrics lyckades jag dock inte göra någonting åt då jag
inte riktigt förstod hur de skulle lösas. Jag tror att bug-varningen i GameBoard
och GameController kan lösas genom att göra metoderna mindre komplexa och kanske
kortare, men det var inget jag lyckades med denna gång.

Sedan tog jag tag i kodtäckningen och lyckades få in mina tester för controllers
som inte ville sig i första bygget. Jag skrev även några nya sådana tester samt
tester för Book från förra kursmomentet. Jag tog även bort Product helt då jag
tänkte att det mer hörde till övning än uppgift. Detta ökade kodtäckningen från
29% till 64%.

Sedan var det play()-metoden i GameController som behövde justeras. Jag skapade
två metoder av lite av koden som fanns där, vilket gjorde att jag fick ner
CRAP-scoren till 4.5 istället för 90 och komplexiteten är godkänd med 4 conditions
istället för 9. Detta höjde betyget från B till A som jag var ute efter. De två
andra metoder med betyg B lyckades jag dock inte göra någonting åt. Totalt höjdes
poängen i scrutinizer från 9.88 till 9.93.

I phpmetrics ändrades inte värdena något avsevärt. Cirkeln för GameController
blev lite mindre men är fortfarande röd. Average bugs by class gick ner med
endast 0.01 med de ändringar jag gjorde i GameController (från vad den låg på
efter att Product-klasserna raderats, vilket påverkade alla värden i phpmetrics
lite från hur de såg ut på skärmdumpen ovan). Relative system complexity tror
jag till och med höjdes lite för GameController efter ändringarna som ju visade
positiva resultat i Scrutinizer.
</pre>

<h2 id="diskussion">Diskussion</h2>
<pre>
Jag tycker att det fungerade ganska bra att jobba mot bättre kod på detta sätt.
Särskilt hjälpsamt var väl kanske Issues och klassbetygen i Scutinizer just för
den koden jag hade. Jag tyckte även att cirklarna i phpmetrics var bra, men jag
klurade inte rikigt ut hur jag skulle lösa de röda stora cirklarna just denna
gång.

Så jag tror väl att det går att använda verktyg som dessa för att förbättra sin
kod. Man kanske inte bara ska stirra blint på vad man får för färger och siffror
där dock, då till exempel kodtäckning kan se bra ut i verktyget men inte egentligen
testa koden särskilt väl. Vissa höga värden som man vill ha så låga som möjligt
kanske också är höga av rimliga skäl. Men det är absolut en bra hjälp på vägen,
särskilt när man är ny på programmering och inte har erfarenhet av hur "clean code"
skrivs.
</pre>
{% endblock %}