{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Redovisningstexter</h1>
<h2 id="kmom01">Kmom01</h2>
<pre>
Den erfarenhet jag har av objektorientering sedan tidigare är väl främst
kursen som precis gick i Objektorienterad python. Där jobbade vi med att 
skapa olika klasser såsom “dice” och “hand” i ett yatzy-spel och “node” 
och “trie” i en trädstruktur, där man jobbade med olika metoder och 
attribut inuti de olika klasserna.

För att skapa en klass i PHP använder man nyckelordet “class” följt av 
klassnamn som börjar på stor bokstav och sedan måsvingar för tillhörande 
kod. Metoder och medlemsvariabler i klassen skapas genom att ange om den 
ska vara public, private eller protected följt av vilken typ (function, 
string osv) och namn ($ före för variabel, () i slutet för metod). Ett 
objekt skapas genom att ange till exempel $namn = new Klassnamn();. För 
att komma åt ett objekts “properties” använder man ->, exempelvis 
$namn->age om ett objekt har ett “age-property”.

Koden för me/report uppfattar jag som okej så här långt. Det är mycket 
filer men det kändes logiskt var de filer vi behövde arbeta med för uppgiften 
skulle ligga. Så jag hade inga större besvär.

I “PHP The Right Way” tyckte jag att delen om hur man hanterar strängar 
var intressant. Detta då jag minns tydligt från webtec-kursen då man 
försökte hantera olika tecken och få allt rätt. Men då hittade jag 
exempelvis inte lika direkt informationen att man bör använda mb_*-
versionen av sträng-funktionen, eller UTF-8-hantering som det står lite om. 
Har ingen mer specifik del att lyfta fram men överlag tror jag att det går 
att hitta bra information där om man letar efter något specifikt.

TIL för detta kursmoment är att installera och använda ramverket Symfony 
och grund i hur man jobbar med klasser och objekt i PHP.
</pre>

<h2 id="kmom02">Kmom02</h2>

<h2 id="kmom03">Kmom03</h2>

<h2 id="kmom04">Kmom04</h2>

<h2 id="kmom05">Kmom05</h2>

<h2 id="kmom06">Kmom06</h2>

<h2 id="kmom10">Kmom10</h2>
{% endblock %}
