{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Redovisningstexter</h1>
    <h2 id="kmom01">Kmom01</h2>
    <pre>
test
    </pre>

    <h2 id="kmom02">Kmom02</h2>

    <h2 id="kmom03">Kmom03</h2>

    <h2 id="kmom04">Kmom04</h2>

    <h2 id="kmom05">Kmom05</h2>

    <h2 id="kmom06">Kmom06</h2>

    <h2 id="kmom10">Kmom10</h2>
{% endblock %}
